<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex justify-content-center align-items-center footer-content">
    <form #emailForm="ngForm" (ngSubmit)="getDataTemplate(emailForm)" class="d-flex">
      <input class="custom-input" type="text" id="email" name="email" placeholder="Subscribete a nuestra Newsletter" ngModel required email>
      <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary btn-text">Enviar</button>
    </form>
    <div *ngIf="displayMessage" class="alert alert-dark">{{ message }}</div>
  </div>
</nav>

