<div class="container mt-4">
  <div *ngIf="rol">
    <!-- TABLA PROFESORES CONTROL -->
    <div class="d-flex justify-content-between align-items-center">
      <p class="h2">Control de Profesores</p>
      <button
        class="btn btn-outline-success m-1"
        (click)="openRegisterAdminModal()"
      >
        Registrar Administrador
      </button>
    </div>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilterTeacher($event)"
        placeholder="Ej. Registrado"
        #input
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTeacher">
        <!-- Columnas de nombre, posición, peso y símbolo -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="rama">
          <th mat-header-cell *matHeaderCellDef>Rama</th>
          <td mat-cell *matCellDef="let element">{{ element.rama }}</td>
        </ng-container>

        <ng-container matColumnDef="ubicacion">
          <th mat-header-cell *matHeaderCellDef>Ubicación</th>
          <td mat-cell *matCellDef="let element">{{ element.ubicacion }}</td>
        </ng-container>

        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <!-- Columna del checkbox -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef>Acitvar/Desactivar</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              [(ngModel)]="row.selected"
              (change)="toggleCheckbox(row)"
              color="primary"
            ></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTeacher"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTeacher"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5]"
        aria-label="Select page of users"
        #paginatorTeacher="matPaginator"
      ></mat-paginator>
    </div>
    <br />
    <!-- TABLA ALUMNOS CONTROL -->
    <p class="h2">Control de Alumnos</p>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilterStudent($event)"
        placeholder="Ej. Registrado"
        #input
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceStudent">
        <!-- Columnas de nombre, posición, peso y símbolo -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="rama">
          <th mat-header-cell *matHeaderCellDef>Rama</th>
          <td mat-cell *matCellDef="let element">{{ element.rama }}</td>
        </ng-container>

        <ng-container matColumnDef="ubicacion">
          <th mat-header-cell *matHeaderCellDef>Ubicación</th>
          <td mat-cell *matCellDef="let element">{{ element.ubicacion }}</td>
        </ng-container>

        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <!-- Columna del checkbox -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef>Acitvar/Desactivar</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              [(ngModel)]="row.selected"
              (change)="toggleCheckbox(row)"
              color="primary"
            ></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsStudents"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsStudents"
        ></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5]"
        aria-label="Select page of users"
        #paginatorStudent="matPaginator"
      ></mat-paginator>
    </div>
  </div>
</div>

<!-- Modal register admin -->
<app-register-admin-modal
  (closeRegisterAdminModalEvent)="closeRegisterAdminModal()"></app-register-admin-modal>
