<div class="container mt-4">
  <div *ngIf="rol">
    <p class="h2">Profesores</p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Columnas de nombre, posición, peso y símbolo -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="rama">
        <th mat-header-cell *matHeaderCellDef>Rama</th>
        <td mat-cell *matCellDef="let element">{{ element.rama }}</td>
      </ng-container>

      <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef>Ubicación</th>
        <td mat-cell *matCellDef="let element">{{ element.ubicacion }}</td>
      </ng-container>

      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
      </ng-container>

      <!-- Columna del checkbox -->
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>Acitvar/Desactivar</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            [(ngModel)]="row.selected"
            (change)="toggleCheckbox(row)"
            color="primary"
          ></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
