<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div [routerLink]="['/pages', 'home']">
      <img
        class="img-isotipo"
        src="./assets/images/AprendoConF.jpg"
        alt="isotipo"
        style="cursor: pointer"
      />
      <!--<a class="navbar-brand">Aprendo con F</a>-->
    </div>
    <div class="d-flex">
      <button
        class="btn btn-color m-1"
        type="button"
        (click)="openLoginModal()"
        *ngIf="!dataService.isLogged()"
      >
        Login
      </button>
      <button
        class="btn btn-color m-1"
        type="button"
        [routerLink]="['/pages', 'newuser']"
        routerLinkActive="active"
        *ngIf="!dataService.isLogged()"
      >
        Register
      </button>
      <button
        class="btn m-1 btn-color"
        type="button"
        [routerLink]="['mapa']"
        routerLinkActive="active"
      >
        Búsqueda
      </button>

      <button
        class="btn btn-color m-1"
        type="button"
        [routerLink]="['/pages', 'views']"
        routerLinkActive="active"
        *ngIf="usuarioActual.rol == 'administrador'"
      >
        Administración Users
      </button>
      <button
        class="btn btn-color m-1"
        type="button"
        (click)="cerrrarSesion()"
        *ngIf="dataService.isLogged()"
      >
        Cerrar Sesión
      </button>

      <button
        *ngIf="usuarioActual.rol == 'profesor'"
        class="btn btn-color m-1"
        type="button"
        [routerLink]="['/pages', 'viewsalumnos']"
        routerLinkActive="active"
      >
        Mis Alumnos
      </button>

      <button
        *ngIf="usuarioActual.rol == 'estudiante'"
        class="btn btn-color m-1"
        type="button"
        [routerLink]="['/pages', 'viewsprofesores']"
        routerLinkActive="active"
      >
        Mis Profesores
      </button>
    </div>
  </div>
</nav>
<app-login-modal></app-login-modal>
