<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <img class="img-isotipo" src="./assets/isotipo.png" alt="isotipo" />
      <a class="navbar-brand">Aprendo con F</a>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-success m-1" type="button">
        Búsqueda
      </button>
      <button class="btn btn-outline-success m-1" type="button">Login</button>
      <button class="btn btn-outline-success m-1" type="button">
        Register
      </button>
    </div>
  </div>
</nav>
