<!-- BEGIN: Modal -->
<div
#loginModal class="modal fade"
  id="registerAdminModal"
  tabindex="-1"
  aria-labelledby="registerAdminModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light border border-success rounded-5">
      <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="loginModalLabel">
           <img src="assets/images/logo2.png" class="mx-auto d-block"  alt="Logo" style="height: 9rem" />
          </h5>
      </div>
      <div class="modal-body">
        <form #loginForm="ngForm" (ngSubmit)="getDataForm(loginForm)">
          <div class="mb-3 input-group">
            <div class="input-group-text bg-info ">
              <img 
                  src="assets/images/username-icon.svg" 
                  alt="login-icono" 
                  style="height: 1rem"
               />
            </div>
            <!-- campos del formulario -->
            <input
              type="text"
              class="form-control m-1"
              id="username"
              name="username" 
              ngModel
              placeholder="Usuario"
            />
          </div>
          <div class="mb-3 input-group">
            <div class="input-group-text bg-info">
              <img 
                  src="assets/images/password-icon.svg" 
                  alt="login-icono" 
                  style="height: 1rem"
               />
            </div>
            <input
              [type]="oculatarPassword?'password': 'text'"
              class="form-control m-1"
              id="password"
              name="password"
              ngModel
              placeholder="Contraseña"
            />
            <div class="input-group-text">
            <img src="{{ ImagenOjo }}" alt="Mostrar/Ocultar Contraseña" (click)="ToggleEstadoPassword()" style="cursor: pointer; height: 2rem">
            </div>
          </div>
          <div class="mb-3 form-check d-flex justify-content-center">
            <input type="checkbox" class="form-check-input" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">Recuérdame</label>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
             <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- END: Modal -->
