.modal {
    z-index: 2050; /* Asegúrate de que este valor sea mayor que el z-index del modal-backdrop */
}

.modal-backdrop {
    --bs-backdrop-zindex: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

