<div class="modal" style="display: block">
  <div class="modal-content">
    <h2>Opina sobre: {{ oneProfessor.name }}</h2>
    <form (submit)="submitOpinion()">
      <div class="form-group">
        <label class="label" for="rating">Puntuación:</label>
        <input type="number" id="rating" name="rating" [(ngModel)]="rating" min="1" max="5" required>
        <div class="clearfix"></div> <!-- Add clearfix to clear the float -->
      </div>
      <div class="form-group">
        <label class="label" for="opinion">Opinión:</label>
        <textarea id="opinion" name="opinion" [(ngModel)]="opinion" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
      </div>
    </form>
  </div>
</div>
