<section class="container mt-3">
  <div class="title">
    <h3>Forma de Registro</h3>
  </div>
  <form class="form" [formGroup]="userRegistrationForm" (ngSubmit)="getDataForm()">
    <!--Role -->
    <fieldset>
      <legend>Selecciona tu Rol</legend>
      <div class="role">
        <input  type="radio" id="professor" name="role" formControlName="role" value="professor" required>
        <label class="radio" for="professor">Profesor</label>
        <input class="radio" type="radio" id="student" name="role" formControlName="role" value="student">
        <label class="radio" for="student">Alumno</label>
      <p class="error" *ngIf="formValidator('role','required')">Rol es un Campo Requerido</p>
      </div>
    </fieldset>

    <!--User Name -->
    <label class="label" for="username">Nombre Usuario:</label>
    <input type="text" class="form-control input is-link" formControlName="username" id="username" placeholder="Ingrese su Nombre de Usuario">
    <p class="error" *ngIf="formValidator('username','required')">Nombre de Usuario es un Campo Requerido</p>

    <!--Password -->
    <label class="label" for="password">Contraseña:</label>
    <input type="password" class="form-control input is-link" formControlName="password" id="password" placeholder="Ingrese su Contraseña">
    <p class="error" *ngIf="formValidator('password','required')">Contraseña es un Campo Requerido</p>
    <p class="error" *ngIf="formValidator('password','pattern')">Formato Inválido: Una-Mayuscula, Una-Miniscula, Un-Digito, Un-Character Special y 8 Caracteres</p>

     <!--Email -->
    <label class="label" for="email">Email:</label>
    <input type="email" class="form-control input is-link" formControlName="email" id="email" placeholder="Ingrese su Email">
    <p class="error" *ngIf="formValidator('email','required')">Email es un Campo Requerido</p>
    <p class="error" *ngIf="formValidator('email','pattern')">Formato de Email Inválido</p>

     <!--Name -->
    <label class="label" for="name">Nombre:</label>
    <input type="text" class="form-control input is-link" formControlName="name" id="name" placeholder="Ingrese su Nombre">
     <p class="error" *ngIf="formValidator('name','required')">Nombre es un Campo Requerido</p>


    <!--Postal Code -->
    <label class="label" for="postalcode">Código Postal:</label>
    <input type="text" class="form-control input is-link" formControlName="postalcode" id="postalcode" placeholder="Ingrese su Código Postal">
    <p class="error" *ngIf="formValidator('postalcode','required')">Código Postal es un Campo Requerido</p>
    <p class="error" *ngIf="formValidator('postalcode','pattern')">Formato de Código Postal Inválido. 5 Dígitos requeridos</p>

     <!--Country -->
    <!--<label class="label" for="country">País:</label>
    <input type="text" class="form-control input is-link" formControlName="country" id="country" placeholder="Ingrese su País">
    <p class="error" *ngIf="formValidator('country','required')">País es un Campo Requerido</p>-->

    <!--Country -->
    <label class="label" for="country">País:</label>
    <mat-select-country formControlName="country" id="country"></mat-select-country>

    <!--Send Form -->
    <div class="btn-container">
      <button type="submit" class="btn btn-success m-3 btn-size" >Enviar</button>
      <button class="btn btn-danger m-3 btn-size" [routerLink]="['/home']">Cancelar</button>
    </div>
  </form>
</section>
