<div class="container">
  <div class="row">
    <div
      class="col-xl-4 col-md-6 col-sm-12 mb-4"
      *ngFor="let professor of professorCard"
    >
      <div class="card mb-4">
        <div class="card-body">
          <div class="user-info">
            <p class="user_name">{{ professor.name }}</p>
            <img
              class="rating"
              [src]="getRatingImageUrl(professor.rating)"
              alt=""
            />
          </div>
          <div class="user-image-container text-center">
            <img
              class="user-image img-fluid mt-3"
              [src]="professor.imageUrl"
              [ngClass]="{ 'imagen-redimensionada': true }"
              alt=""
            />
          </div>
          <div class="knowledge-areas text-center mt-3">
            <ul class="list-inline">
              <li class="list-inline-item" *ngFor="let area of professor.areas">
                {{ area }}
              </li>
            </ul>
          </div>
          <div
            class="location-price d-flex justify-content-between align-items-center mt-3"
          >
            <div class="locations d-flex align-items-center">
              <img
                class="pin-location"
                src="./assets/images/Pin_Location.JPG"
                alt="Pin location"
              />
              <div class="location-details">
                <p class="location-name mb-0">{{ professor.city }},</p>
                <p class="location-country mb-0">
                  {{ professor.country }}
                </p>
              </div>
            </div>
            <div class="precio d-flex align-items-center">
              <img
                class="bill-image"
                src="./assets/images/Dollar_Bill.JPG"
                alt=""
              />
              <p class="mb-0">{{ professor.hourly_rate | currency : "GBP" }}</p>
            </div>
          </div>
          <div class="text-center mt-auto">
            <div class="d-flex justify-content-left actions">
              <button
                class="btn btn-primary"
                type="button"
                name="button"
                [routerLink]="['/pages', 'professor', professor.id]"
              >
                Pérfil
              </button>
              <div
                *ngIf="
                  !arrTeachers.includes(professor.id) && !userService.isLogged()
                "
              >
                <button
                  (click)="suscribete(professor.id)"
                  class="btn btn-primary"
                  type="button"
                  name="professor.id"
                >
                  Subscribete
                </button>
              </div>
              <div
                *ngIf="
                  !arrTeachers.includes(professor.id) && userService.isLogged()
                "
              >
                <button
                  (click)="suscribete(professor.id)"
                  class="btn btn-primary"
                  type="button"
                  name="professor.id"
                >
                  Subscribete
                </button>
              </div>
              <div *ngIf="arrTeachers.includes(professor.id)">
                <button
                  class="btn btn-primary"
                  type="button"
                  name="professor.id"
                  disabled="true"
                >
                  Subscrito
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
