.card-container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.user_name {
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

.rating {
  width: 100px;
}

.user-image-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 250px;
}

.user-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.knowledge-areas ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.knowledge-areas li {
  text-align: center;
  border: 1px solid #ddd;
  font-weight: bold;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0;
  background: #eee;
  font-size: 13px;
}

.location-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.locations {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.pin-location {
  width: 20px;
  margin-right: 10px;
}

.location-details {
  font-weight: bold;
  display: flex;
}

.precio {
  display: flex;
  align-items: center;
  font-weight: bold
}

.bill-image {
  width: 20px;
  margin-right: 10px;
}

.actions{
  gap: 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
}
