<div class="card-container">
  <div class="bg-grey rounded border-grey shadow-sm card-small">
    <div class="grid-content">
      <div class="grid-item img-container">
        <p class="nombre">{{oneProfessor?.name}}</p>
        <img class="square-img img-thumbnail shadow-sm user-img-large" [src]="oneProfessor.imageUrl" alt="{{oneProfessor.name}}">
        <div class="location-info">
            <img class="pin-location" [src]="oneProfessor.location.pinImage">
            <p>{{oneProfessor.location.name}}, {{oneProfessor.location.country}}</p>
        </div>
        <!--<img class="pin-location" [src]="oneProfessor.location.pinImage">{{oneProfessor.location.name}} {{oneProfessor.location.country}}-->
        <!-- Use *ngIf to conditionally render the "Phone" section -->
        <p class="phone label" *ngIf="oneProfessor?.role === 'professor' && oneProfessor?.registered"><span>Phone:</span> {{oneProfessor?.phone}}</p>
        <div class="d-flex justify-content-center mt-2">
          <img class="social-image" src="assets/images/Facebook.gif" alt="facebook">
          <img class="social-image" src="assets/images/LinkedIn.gif" alt="LinkedIn">
          <img class="social-image" src="assets/images/Instagram.gif" alt="Instagram">
          <img class="social-image" src="assets/images/Twitter.gif" alt="Twitter">
          <img class="social-image" src="assets/images/SnapChat.gif" alt="SnapChat">
        </div>
      </div>
      <div class="grid-item info-container">
        <div class="rating">
          <img class="rating-img" [src]="getRatingImageUrl(oneProfessor.rating)" alt="Rating">
        </div>
        <div class="info-box">
          <div class="info-top">
            <p><span class="label">Email:</span> {{oneProfessor?.email}}</p>
            <p><span class="label">Precio x Hora:</span> {{oneProfessor?.price}}</p>
            <h2 class="label">Areas de Conocimiento</h2>
            <ul *ngIf="oneProfessor?.knowledgeAreas">
              <li *ngFor="let area of oneProfessor.knowledgeAreas">
                <span class="bullet">&#8226;</span> {{ area }}</li>
            </ul>
          </div>
        </div>
        <div class="description">
          <p>{{oneProfessor?.description}}</p>
        </div>
        <!-- Move "Volver a listado" to the bottom of the second column -->
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary m-1" [routerLink]="['/home']"><img class="btn-image" src="assets/images/Home.GIF" alt="home">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>







